/* universal styling  */
*{
    margin: 0px;
    padding: 0px;
    font-family: Lato;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* banner section start here  */
.banner{
    height: 100vh;
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    color: #272727;
    font-weight: 800;
    font-size: 80px;
    width: 708px;
    text-align: column;
}
.banner-img{
    width: 635px;
    height: 800px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px ;
}
.btn-primary{
    padding: 20px 43px;
    background-color: #E55473;
    border: none;
    color: white;
}
/* featured flower section starts here  */
.featured-flowers{
    text-align: center;
}
.flowers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.feature-title{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-info{
    text-align:center;
}
.flower-img{
    padding: 20px;
}

/* hot deals section starts here  */
.deals{
    width: 1922px;
    height: 620px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.hot-deal{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.deal-info{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
/* insta section starts here  */
.insta-section{
    text-align: center;
}
.insta-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer starts here  */
.footer{
    background-color: #111010;
    color: white;
    text-align: center;
    width: 1922px;
    height: 449px;
}
.colored-part{
    color: #E55473;
}
.footer-description{
    font-size: x-small;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}